@import "../Utilities/variables.scss";

.hero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 99px;
    margin-top: 130px;
    padding-left: 9.31%;
    // width: fit-content;
    
    .hero-text{
        width: 646px;
        padding: 29.46px 0px;

        &>h1{
            font-size: 56px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: $primary_2;
            margin-bottom: 48px;

            #color-text{
                color: $primary_3;
            }
        }
        &>h2{
            font-size: 24px;
            line-height: 35px;
            color: $primary_2;
            margin-bottom: 48px;
        }

        &>.search-bar{
            height: 54px;
            width: 95.98%;

            &>input{
                background: rgba(247, 247, 247, 0.1);
                border: 1px solid #A3A3A3;
                border-radius: 8px 0px 0px 8px;
                padding-left: 15px;
                height: 100%;
                width: 62.9%;

                &:focus{
                    outline-color: $primary_3;
                }
            }

            &>button{
                height: 100%;
                width: 37.1%;
                background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
                border-radius: 0px 8px 8px 0px;
                text-align: center;
                color: #ffffff;
                border: none;
            }
            
        }
    }
    .hero-image{
        width: 476px;

        &>img{
            width: 100%;
        }
    }
}

@media screen and (max-width: 512px){
    .hero{
        display: block;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;   
        margin-top: 0px; 

        .hero-text{
            width: 100%;
            text-align: center;

            &>h1{
                font-size: 48px;
                line-height: 120%;
                letter-spacing: -0.02em;
                color: $primary_2;
                margin-bottom: 20px;
    
                #color-text{
                    color: $primary_3;
                }
            }
            &>h2{
                font-size: 20px;
                line-height: 35px;
                color: $primary_2;
                margin-bottom: 20px;
            }
        
        }
        .hero-image{
            width: 100%;
            margin-top: 20px;
    
            &>img{
                width: 100%;
            }
        }
    }
}