@import "../Utilities/variables.scss";

.places-section{
    padding: 58px 100px 53px 100px;

    &>h1{
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
    }

    &>.places-review{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
        padding-top: 43px;

        &>.places-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 16px;
            border: 1px solid #D7D7D7;
            border-radius: 15px;

            &>img{
                width: 100%;
                margin-bottom: 1rem;
            }

            &>.first-line, &>.second-line{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: 12px;
                    line-height: 13px;
                    color: $primary_2;
                }
            }

            &>.first-line{
                margin-bottom: 10px;
            }

            &>.second-line{
                margin-bottom: 9px;
            }
        }
    }    
}

@media screen and (max-width: 512px){
    .places-section{
        padding: 50px 5%;

        &>h1{
            text-align: center;
            font-weight: 600;
            font-size: 32px;
            line-height: normal;
        }

        &>.places-review{
            display: grid !important;
            grid-template-columns: 1fr;

            &>.places-card{
                &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){
                    display: none;
                } 
            }
        }
    }
}