.places-section{
    padding: 58px 100px 53px 100px;

    &>h1{
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
    }

    &>.places-review{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
        padding-top: 43px;

        &>.places-card{
            padding: 16px;
            border: 1px solid #D7D7D7;
            border-radius: 15px;

            &>img{
                width: 100%;
            }
        }

        
    }

    
}