@import "../../components/Utilities//variables.scss";

.places-to-stay{

    padding-left: 100px;
    padding-right: 5%;
    padding-bottom: 92px;
    padding-top: 64px;

    .secondary-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 48px;
        

        .filter{
            padding: 12px 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 19px;
            text-align: center;
            gap: 40px;
            color: #333333;
            border: 1px solid #B4B4B4;
            border-radius: 8px;
        }
    }

    .dropdown-nav{
        display: none;

        .filter{
            padding: 12px 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 19px;
            /* identical to box height, or 120% */

            text-align: center;

            color: #333333;
        }
    }

    .places-full-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 43px;
        gap: 24px;
        justify-content: center;

        &>.places-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 16px;
            border: 1px solid #D7D7D7;
            border-radius: 15px;

            &>img{
                width: 100%;
                margin-bottom: 1rem;
            }

            &>.first-line, &>.second-line{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: 12px;
                    line-height: 13px;
                    color: $primary_2;
                }
            }

            &>.first-line{
                margin-bottom: 10px;
            }

            &>.second-line{
                margin-bottom: 9px;
            }
        }
    }
}




@media screen and (max-width: 1020px) {
    .places-to-stay{
        padding: 64px 5%;

        .secondary-nav{
            display: none;
        }
        .dropdown-nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .filter{
                gap: 40px;
                border: 1px solid #B4B4B4;
                border-radius: 8px;;
            }

            select{
                padding: 10px 5px;
                font-size: 1.2rem;
            }
            
        }
    }
    
}

