@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

html, body{
  margin: 0;
  padding: 0;
}
body{
  padding-top: 43px;
}

*{
  font-family:'Red Rose', cursive, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



a{
  text-decoration: none;
  font-style: none;
}

